node-red-flows/flows.json
[{"id":"f3250cbb.ecfb7","type":"tab","label":"Headset to Game","disabled":false,"info":""},{"id":"6890b552.d75abc","type":"EMOTIV","z":"f3250cbb.ecfb7","name":"EMOTIV","x":120,"y":280,"wires":[["cfd8b04b.1ccc4"]]},{"id":"cfd8b04b.1ccc4","type":"Mental-Command","z":"f3250cbb.ecfb7","name":"Mental Commands","actionName":"lift","mcSen":"10","x":360,"y":280,"wires":[["d83ede.3afcf12"]]},{"id":"ef9f8b06.5d10d8","type":"debug","z":"f3250cbb.ecfb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"d83ede.3afcf12","type":"http request","z":"f3250cbb.ecfb7","name":"GET :8080","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/jump","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":280,"wires":[["ef9f8b06.5d10d8"]]}]